{% include './templates/header.htm' %}

<!--list-->
<div id="container" style="min-width: 98%; margin: 10px 10px">
  {% include './templates/toCreateNewButton.htm' %}
  <br />
  {%if p.msg!="" %}
  <div class="alert alert-warning" role="alert">
    {{p.T[p.msg]}}
  </div>
  {%endif%}

  <div class="card " style="width: 100%;">
    <h5 class="card-header alert-secondary ">{{ p.T[p.conf.get("title")] }}:</h5>
    <div class="card-body">

      <table class="table table-hover " style="width: 100%;">
        <thead>
          <tr>
            {%for i in range(p.conf["colWidth"]|size) %}
            <th scope="col" style="width:{{p.conf.get('colWidth')[i]}}%;">{{ p.T[ p.conf['coltitle'][i]] }} </th>
            {%endfor%}
          </tr>
        </thead>
        <tbody>
          {%for oneline in p.ta %}
          <tr>
            {%for Y in range (oneline|size) %}
            {%if Y < (oneline|size)-1 %} <td>{{oneline[Y]}}</td>
              {%else%}
              <td>
                {% include './templates/OperationButtons.htm' %}
              </td>
              {%endif%}
              {%endfor%}
          </tr>
          {%endfor%}
        </tbody>
      </table>

    </div>
    <ul class="list-group list-group-flush">
      {% include './templates/return.htm' %}
    </ul>
  </div>






</div>
{% include './templates/footer.htm' %}