<div class="modal fade" id="addComment" tabindex="-1" aria-labelledby="addCommentLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCommentLabel">{{p.T['l_comment']}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form id="modal" name="modal" action="/AddComment/"  method="POST">
          <div class="modal-body">
                
                  <input type="hidden" id="UID" name="UID" value="{{p.userobj.uuid}}" />
                  <input type="hidden" id="OBJID" name="OBJID" value="{{p.OBJID}}" />
                  <input type="hidden" id="FOBJID" name="FOBJID" value="{{p.FOBJID}}" />
                  <input type="hidden" id="COBJID" name="COBJID" value="{{p.COBJID}}" />
                  <input type="hidden" id="NextId" name="NextId" value="{{p.NextId}}" />
                  
                  <input type="hidden" id="la" name="la" value="{{p.T['LAN']}}" />
                  <div class="modal-questId">
                  <input type="hidden" id="questId" name="questId" value="" />
                  </div>





                  <!-- <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Recipient:</label>
                    <input type="text" class="form-control" id="recipient-name">
                  </div> -->
                  <div class="form-group">
                    <!-- <label for="message-text" class="col-form-label"></label> -->
                    <textarea class="form-control" id="textComment" name="textComment"></textarea>
                  </div>
                
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{p.T['b_close']}}</button>
            <button type="submit" class="btn btn-primary" >{{p.T['b_submit']}}</button>
          </div>
        </form>
    </div>
  </div>
</div>
<script>
  /*

  onclick="sub()"


function sub(){
  UID=document.getElementById("UID").value;
  textComment=document.getElementById("textComment").value;
  alert(UID );
  alert(textComment);
  
}
*/
$('#addComment').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  //modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-questId input').val(recipient)
})
</script>